 .root {
    min-width: fit-content;
    
  }
 .bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
  .title {
    font-size: medium ;
  }
  .pos {
    margin-bottom: 12;
  } 
  .container{
   background-color: teal;
  }
